@media (max-width: 869px) {
  #mainWrapper {
    position: relative;
    float: left;
    width: 100%; }

  nav {
    display: none; } }
@media (min-width: 870px) {
  #mainWrapper {
    position: relative;
    float: left;
    width: 75%; }

  nav {
    float: right;
    width: 23%;
    position: fixed;
    top: 25px;
    right: 20px; }
    nav h4 {
      border-bottom: 2px solid black;
      margin-bottom: 10px; }
    nav li {
      margin-bottom: 4px; } }
*,
*:after,
*:before {
  box-sizing: border-box; }

body {
  font-size: 15px;
  font-family: 'Raleway', Helvetica, sans-serif;
  margin: 20px; }

div {
  margin-top: 5px; }

p {
  line-height: 16px; }

#maintitle {
  font-size: 40px;
  font-weight: bold; }

header {
  width: 200px;
  text-align: right;
  margin-bottom: 20px; }

.headerline {
  height: 5px;
  background-color: #f0e0b2;
  margin-top: 0px; }

#subtitle {
  font-size: 20px;
  opacity: .5;
  font-style: italic; }

.sectionTitle {
  background-color: #000;
  padding: 3px;
  color: white;
  cursor: pointer; }
  .sectionTitle h5 {
    width: 93%;
    display: inline-block; }
  .sectionTitle .showHideTab {
    width: 5%;
    display: inline-block;
    text-align: right;
    font-size: 30px;
    line-height: 10px; }

.content {
  margin-left: 20px;
  margin-bottom: 40px;
  display: none; }

.subcontent {
  border-bottom: 2px solid black;
  margin-top: 30px;
  margin-bottom: 10px; }

.example {
  width: 75%;
  margin: 0 auto;
  margin-top: 5px;
  margin-bottom: 5px; }

a {
  text-decoration: none;
  font-weight: bold;
  color: #303083;
  font-style: italic; }

a:hover {
  font-style: normal; }

#highlight {
  background-color: #E0FFE0;
  font-style: italic; }

em, .subcontent {
  font-style: italic; }

strong {
  font-weight: bold; }

h1 {
  font-size: 40px; }

h2 {
  font-size: 35px; }

h3 {
  font-size: 30px; }

h4 {
  font-size: 27px; }

h5 {
  font-size: 24px; }

h6 {
  font-size: 20px; }

footer {
  font-size: 12px;
  opacity: .75;
  line-height: 16px; }

.dropdownWrapper {
  position: relative;
  width: 200px;
  padding: 10px;
  margin: 0 auto;
  background: #f9edf4;
  color: #090948;
  outline: none;
  cursor: pointer;
  font-weight: bold; }
  .dropdownWrapper .dropdown {
    /* Size & position */
    position: absolute;
    top: 100%;
    left: 0;
    /* Size */
    right: 0;
    /* Size */
    /* Styles */
    background: #f9edf4;
    font-weight: normal;
    /* Overwrites previous font-weight: bold; */
    /* Hiding */
    opacity: 0;
    pointer-events: none; }
    .dropdownWrapper .dropdown li a {
      display: block;
      text-decoration: none;
      color: #090948;
      padding: 10px 20px; }
    .dropdownWrapper .dropdown li:hover a {
      background-color: #090948;
      color: #f9edf4; }

.dropdownWrapper:after {
  content: "";
  width: 0;
  height: 0;
  position: absolute;
  right: 16px;
  top: 50%;
  margin-top: -6px;
  border-width: 6px 0 6px 6px;
  border-style: solid;
  border-color: transparent #090948; }

/* Active state */
.dropdownWrapper.active .dropdown {
  opacity: 1;
  pointer-events: auto; }

.dropdownWrapper.active:after {
  border-color: #f9edf4 transparent;
  border-width: 6px 6px 0 6px;
  margin-top: -3px; }

.dropdownWrapper.active {
  background: #f9edf4;
  background: linear-gradient(to right, #f9edf4 0%, #f9edf4 78%, #090948 78%, #090948 100%); }

#navbar {
  width: 100%;
  text-align: center;
  height: 46px; }
  #navbar ul {
    display: inline-table; }
    #navbar ul a {
      color: #82084D;
      font-style: normal; }
    #navbar ul li {
      float: left;
      width: 150px;
      padding: 10px 0 10px 0; }
    #navbar ul li:hover a {
      color: black; }
    #navbar ul li:hover ul {
      display: block; }
    #navbar ul .navbarInnerDD {
      display: none;
      padding: 0;
      position: absolute;
      z-index: 2; }
      #navbar ul .navbarInnerDD li {
        float: none;
        padding: 5px 0 0 0; }
      #navbar ul .navbarInnerDD li:hover {
        color: #82084D; }

.radio:hover, .checkbox:hover {
  cursor: pointer; }

form {
  margin-top: 20px;
  width: 100%; }

fieldset td {
  padding-bottom: 10px; }
fieldset .formLabel {
  line-height: 19px;
  padding-top: 2px;
  padding-right: 40px;
  vertical-align: middle;
  font-style: italic; }
fieldset #radioSelection > label, fieldset #checkSelection > label {
  margin-right: 20px; }
fieldset #radioSelection > input, fieldset #checkSelection > input {
  margin-right: 6px; }
fieldset input[type="text"] {
  padding: 3px;
  border: none;
  border-bottom: 2px solid #888; }
fieldset input[type="text"]:focus {
  outline: none;
  border-bottom: 2px solid black; }
fieldset input[type="text"]:hover {
  outline: none;
  border-bottom: 2px solid black;
  background-color: #eee; }
fieldset input[type="date"], fieldset textarea {
  border: 2px solid #888; }
fieldset input[type="date"]:focus, fieldset textarea:focus {
  outline: none;
  border: 2px solid black; }
fieldset input[type="date"]:hover, fieldset textarea:hover {
  outline: none;
  border: 2px solid black;
  background-color: #eee; }
fieldset textarea {
  width: 300px;
  height: 70px; }
fieldset #formButton {
  text-align: right; }
fieldset #formSubmit {
  border: 1px solid black;
  background: white;
  padding: 4px 5px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  box-shadow: 0;
  color: black;
  font-size: 12px;
  font-family: 'Raleway', Helvetica, sans-serif;
  text-decoration: none;
  outline: none;
  vertical-align: middle; }
fieldset #formSubmit:hover {
  border-color: #E30004;
  color: #E30004;
  box-shadow: 0;
  outline: none; }
fieldset #formSubmit:active {
  border-color: #E30004;
  background-color: #E30004;
  color: white;
  outline: none;
  box-shadow: 0; }
