@import 'bourbon/bourbon';

@import 'smallView';

@import 'sideNav';

*,
*:after,
*:before {
    box-sizing: border-box;
}

$popcolor: #F0E0B2;
$darkerblue: #090948;
$pinkcolor: #F9EDF4;


body {
	font-size: 15px;
	font-family: 'Raleway', Helvetica, sans-serif;
	margin: 20px;

}

div {
	margin-top: 5px;
}

p {
	line-height: 16px;
}

#maintitle {
	font-size: 40px;
	font-weight: bold;

}

header {
	width: 200px;
	text-align: right;
	margin-bottom:20px;
}

.headerline {
	height: 5px;
	background-color: $popcolor;
	margin-top:0px;
}
#subtitle {
	font-size: 20px;
	opacity: .5;
	font-style: italic;

}



.sectionTitle {
	background-color:#000;
	padding: 3px;
	color: white;
	cursor: pointer;
	h5{
		width: 93%;
		display: inline-block;
	}
	.showHideTab{
		width: 5%;
		display: inline-block;
		text-align: right;
		font-size: 30px;
		line-height: 10px;

	}
}

.content {
	margin-left: 20px;
	margin-bottom: 40px;
	display: none;
}

.subcontent {
	border-bottom: 2px solid black;
	margin-top: 30px;
	margin-bottom:10px;
}

.example {
	width: 75%;
	margin: 0 auto;
	margin-top:5px;
	margin-bottom: 5px;
}


//  TYPOGRAPHY STYLING
@import 'typography';

// NAVIGATION STYLING
@import 'navigation';

// FORM STYLING
@import 'form';

